.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}
.icons img {
  height: 40px;
  width: 40px;
}
.ismail {
  color: red;
}

.avatar:hover   {
 cursor: pointer;
}

.btn {
    background: rgb(9, 117, 45);
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: 10px;
}
